<h1>Bienvenidos al sitio web del Grupo 8)</h1>
<p>Para ir al e-commerce: <a href="http://integra8.ing.puc.cl:8000">E-Commerce</a></p>
<p>Para la documentacion de nuestra API: <a href="http://integra8.ing.puc.cl/b2b/documentation">Documentacion</a></p>
