<h1>Bienvenidos al sitio web del Grupo <%= image_tag("8BallSmall.png", width: 30, height: 30) %></h1>
<p>Para ir al e-commerce: <a href="http://integra8.ing.puc.cl:8000">E-Commerce</a></p>
<p>Para la documentación de nuestra API: <a href="http://integra8.ing.puc.cl/b2b/documentation">Documentación</a></p>
