<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Starter UI, by Keen IO</title>
  <link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/keen-dashboards.css" />

</head>
<body class="application">

<script type="text/javascript" charset="utf-8">

    $(function(){
        new Highcharts.Chart({
            chart: {
                renderTo: "ejemplo"
            },
            title: {
                text: "Nivel de satisfacción en el tiempo"},
            xAxis: {
                type: "datetime"
            },
            yAxis: {
                title:{
                    text: "nivel de satisfacción"
                }
            },
            series: [{
                name: "nivel de satisfacción",
                pointInterval: <%= 1.day*1000%>,
                pointStart: <%= 1.weeks.ago.to_i * 1000 %>,
                data: <%= (1.weeks.ago.to_date..Date.today).map{|date| 4 }.inspect %>
            },
               ]





        });
        new Highcharts.Chart({
            chart:{
                renderTo: "ejemplo2",
                type: 'column'
            },
            title: {
                text: "Nivel de satisfacción por cliente"},


            yAxis: {
                title:{
        text: "nivel de satisfacción"
                }
            },
            xAxis: {
                categories: ['Grupo1', 'Grupo2', 'Grupo3', 'Grupo4', 'Grupo5', 'Grupo6', 'Grupo7']
            },
            plotOptions: {
                series: {
                    allowPointSelect: true
                }
            },
            series: [{
                name: "nivel de satisfacción",
                color: 'purple  ',
                data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6]
            }]


        });

        new Highcharts.Chart({
            chart:{
                renderTo: "ejemplo3",

                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'

            },
            title: {
                text: "Principales mercados de la compañia"},
            series: [{
                name: "Brands",
                colorByPoint: true,
                color: '#FF0000',
                data: [{
                    name: "Comercio internacional",
                    y: 56.33
                }, {
                    name: "E-commerce",
                    y: 24.030000000000005,
                    sliced: true,
                    selected: true
                }, {
                    name: "B2B",
                    y: 10.38
                }]
            }]


        });

    });

</script>

<h1 style="margin-top: -30px"> Reporte de nivel de servicio</h1>
<hr>
<div class="container-fluid">


  <div class="row">
    <div class="col-sm-10">
      <div class="chart-wrapper">

        <div class="chart-stage">
          <div id="ejemplo"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-10">
      <div class="chart-wrapper">
        <div class="chart-stage">
          <div id="ejemplo2"></div>
        </div>

      </div>
    </div>

  </div>



  <hr>

  <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

</div>

<script type="text/javascript" src="../../assets/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../../assets/lib/holderjs/holder.js"></script>
<script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
</script>

<script type="text/javascript" src="../../assets/lib/keen-js/dist/keen.min.js"></script>
<script type="text/javascript" src="../../assets/js/meta.js"></script>

</body>
</html>