<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Starter UI, by Keen IO</title>
  <link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/keen-dashboards.css" />

</head>
<body class="application">

<script type="text/javascript" charset="utf-8">

    $(function(){
        new Highcharts.Chart({
            chart: {
                renderTo: "ejemplo"
            },
            title: {
                text: "Detalles de productos vendidos"},
            xAxis: {
                categories: ['Chocolate', 'Pasta Semola', 'Celusa', 'Madera', 'Azucar']
            },
            yAxis: {
                title:{
                    text: "Dollars"
                }
            },
            series: [{
                name: "Volumen",

                data: [1,2,3,4,5]
            },
                {
                    name: "Ganancias",

                    data: [5,4,3,2,1]
                }]





        });
        new Highcharts.Chart({
            chart:{
                renderTo: "ejemplo2",

                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'

            },
            title: {
                text: "Mercados de Chocolate"},
            series: [{
                name: "Brands",
                colorByPoint: true,
                data: [{
                    name: "Grupo5",
                    y: 56.33
                }, {
                    name: "Azucar",
                    y: 24.030000000000005,
                    sliced: true,
                    selected: true
                }, {
                    name: "Pedidos internacionales",
                    y: 10.38
                },
                    {
                        name: "Grupo 7",
                        y: 10.38
                    },
                    {
                        name: "E-commerce",
                        y: 10.38
                    },
                ]
            }]


        });

        new Highcharts.Chart({
            chart:{
                renderTo: "ejemplo3",

                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'

            },
            title: {
                text: "Mercados del azucar"},
            series: [{
                name: "Brands",
                colorByPoint: true,
                data: [{
                    name: "Grupo 5",
                    y: 56.33
                }, {
                    name: "Grupo 1",
                    y: 24.030000000000005,
                    sliced: true,
                    selected: true
                },{
                    name: "Grupo 2",
                    y: 24.030000000000005,
                    sliced: true,
                    selected: true
                },{
                    name: "Comercio internacional",
                    y: 24.030000000000005,
                    sliced: true,
                    selected: true
                }]
            }]


        });

        new Highcharts.Chart({
            chart:{
                renderTo: "ejemplo4",

                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'

            },
            title: {
                text: "Mercados de madera"},
            series: [{
                name: "Brands",
                colorByPoint: true,
                data: [{
                    name: "E-commerce",
                    y: 56.33
                }, {
                    name: "Comercio internacional",
                    y: 24.030000000000005,
                    sliced: true,
                    selected: true
                },{
                    name: "grupo 1",
                y: 24.030000000000005,
                sliced: true,
                selected: true
    },{name: "Grupo 3",
                    y: 24.030000000000005,
                    sliced: true,
                    selected: true
                }]
            }]


        });

    });

</script>

<h1 style="margin-top: -30px"> Reporte de productos y mercados</h1>
<hr>
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12">
      <div class="chart-wrapper">

        <div class="chart-stage">
          <div id="ejemplo"></div>
        </div>
      </div>
    </div>


  </div>


  <div class="row">

    <div class="col-sm-4">
      <div class="chart-wrapper">

        <div class="chart-stage">
          <div id="ejemplo2"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-stage">
          <div id="ejemplo3"></div>
        </div>

      </div>
    </div>

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-stage">
          <div id="ejemplo4"></div>
        </div>

      </div>
    </div>

  </div>

  <hr>

  <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

</div>

<script type="text/javascript" src="../../assets/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../../assets/lib/holderjs/holder.js"></script>
<script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
</script>

<script type="text/javascript" src="../../assets/lib/keen-js/dist/keen.min.js"></script>
<script type="text/javascript" src="../../assets/js/meta.js"></script>

</body>
</html>