<link rel="stylesheet" href="github-markdown.css">
<style>
    .markdown-body {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
    }
</style>
<article class="markdown-body">
  <h1>Unicorns</h1>
  <blockquote>
    <p>Bacon ipsum dolor sit amet filet mignon ribeye swine jerky porchetta beef ribs.</p>
  </blockquote>

  <ul>
    <li>Foo</li>
    <li>Bar</li>
  </ul>
</article>